<nb-layout>
  <nb-layout-header fixed *ngIf="isAuthenticated()">
    <ngx-header></ngx-header>
    <router-outlet name="navbar"></router-outlet>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive *ngIf="isAuthenticated()">
    <nb-menu></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <ngx-footer></ngx-footer>
  </nb-layout-footer>
</nb-layout>
